@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.nav-active{
  color: rgb(122, 17, 243);
}

.img-anim-updown {
  animation: updown 2s linear infinite;
}

.bit {
  animation: rotate 20s infinite;
}


@keyframes updown {
  0% {
      transform: translateY(-8px);
  }
  50% {
      transform: translateY(8px);
  }
  100% {
      transform: translateY(-8px);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
